<html>
<head>
	<style>
	@charset "UTF-8";

body{
	background-color:#2c3335;
	color:#f5f5f5;
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

a{
	color:#fff;
	text-decoration:none;
}
	
#loginform{
	margin-top:150px;
  margin-left:auto;
  margin-right:auto;
	width:270px;
}
	
.input{
	width:270px;
    padding:15px 25px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background: #f5f5f5;
	border:none;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	margin-top:15px;
}

.loginbutton{
	background-color:#ffdd00;
	border-radius:5px/5px;
	-webkit-border-radius:5px/5px;
	-moz-border-radius:5px/5px;
	color:#333;
	display:inline-block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:18px;
	font-weight:bold;
	width:270px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	outline:0;
	cursor: pointer;
}

.loginbutton:active {
	position:relative;
	top:1px;
}

.loginbutton:hover{
	background-color:#e5bf05;
}
</style>
	</head>
<body>
<a href = '/'><p><u> Home</u> </p></a>
<h1> Welcome to Business Login Portal </h1> <br>
<center>
<h2> LOGIN </h2>
<form id="bloginform" method="post" action="/business">
<input type="text" name ="mail" class="input" placeholder="E-mail" /> 
<input type="password" name = "pass" class="input" placeholder="Password" />
<input type="submit" class="loginbutton" value="SIGN IN" />
</form>
<br><br><br>
<h2> SIGN UP </h2>
<form id="bsignupform" method="post" action="/business">
<input type="text" class="input" placeholder="E-mail" /> 
<input type="password" class="input" placeholder="Password" />
<input type="text" class="input" placeholder="Name" /> 
<input type="text" class="input" placeholder="Address" />
<input type="text" class="input" placeholder="GSTIN" />
<input type="text" class="input" placeholder="Mobile Number " />
<br><br>
<input type="text" class="input" placeholder="Category 1" />
<input type="text" class="input" placeholder="Category 2" />
<input type="text" class="input" placeholder="Category 3" />
<input type="text" class="input" placeholder="Category 4" />
<br><br><center>
<button onclick= "SignUp"><input type="submit" class="loginbutton" value="SIGN UP" /></button></center>
</form>

<script> function SignUp(){
	alert("Sign Up Successful! Please Login To Continue");
}
</script>
</body>
</html>