<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<title>Welcome to B2B app!</title>
	</head>
	<body>
		Hello and Welcome to B2B app!
<br>

<a href  = 'business.ejs'><p> Business Login </p></a>
<br><br>
<p>Search</p><form id="searchbar" method="post" action="/search">
<input type="text" name = 'value' class="input" placeholder="Products and Businesses" /> 

<input type="submit" class="searchbutton" value="GO!" />
</form>

<br>
<a href = "queries.ejs"><p>Send a Query</p></a>
	</body>
</html>