<!DOCTYPE html>
<html>
<head>
	<title>
		Search Results
	</title>
</head>
    <body>
    <table id="table" >  
        <thead>  
            <tr>  
                <th> Name </th>  
                <th> Address </th>
                <th> Mobile_No </th>  
            </tr>  
        </thead>  
         <tbody> 
            <tr>  
                <td><%= loadResults.name%></td>  
                <td><%= loadResults.address%></td>
                <td><%= loadResults.mobile_no%></td>
            </tr>
         </tbody>
    </table>   
</body>
</html>