<html>
<body>
<a href = 'index.html'><p> Home </p></a>
<h1> Welcome to User Login Portal </h1> <br>
<h2> LOGIN </h2>
<form id="uloginform" method="" action="">
<input type="text" class="input" placeholder="E-mail" /> 
<input type="password" class="input" placeholder="Password" />
<input type="submit" class="loginbutton" value="SIGN IN" />
</form>
<br><br><br>
<h2> SIGN UP </h2>
<form id="usignupform" method="" action="">
<input type="text" class="input" placeholder="E-mail" /> 
<input type="password" class="input" placeholder="Password" />
<input type="text" class="input" placeholder="Name" /> 
<input type="text" class="input" placeholder="Mobile Number" />
<input type="text" class="input" placeholder="Image URL" />

<input type="submit" class="loginbutton" value="SIGN UP" />
</form>

</body>
</html>